.ims_grid_layout_grid_items_text a {
  color: #fefefe;
  background-image: linear-gradient(90deg, #fff33e 50%, #3e2b1a 0);
  background-size: 201% 100%;
  background-position: 100% 100%;
  transition: all 0.3s ease;
  padding: 2vh;
  margin: 0.5vh;
  display: flex;
  align-items: center;
}
.ims_grid_layout_grid_items_text a:hover {
  color: #0a0a0a;
  background-image: linear-gradient(90deg, #3e2b1a 0, #fff33e 50%);
  transition: all 0.3s ease;
}

.ims_grid_layout_grid_items_text a::after {
  content: url(/modules/custom/ims_landing_page_with_grid/modules/ims_landing_page_with_grid_maggi/assets/images/arrow_marron.svg);
  margin-left: 1vh;
  vertical-align: middle;
}

.ims_grid_layout_grid_items_text a:hover::after {
  content: url(/modules/custom/ims_landing_page_with_grid/modules/ims_landing_page_with_grid_maggi/assets/images/arrow_yellow.svg);
}

