.ims_grid_layout {
  margin: 6vh;
}
.ims_grid_layout_headings {
  margin: 1vh;
}

.ims_grid_layout_headings h1 {
  margin-bottom: 1vh;
}

.ims_grid_layout_social_media_wrapper {
  display: flex;
  justify-content: center;
  margin: 2vh;
}

.ims_grid_layout_social_media_wrapper .social-item {
  margin-right: 3vh;
}

.ims_grid_layout_social_media_wrapper .social-item img {
  width: 25px;
  height: 25px;
}

.ims_grid_layout_grid_entity_reference_template {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vh;
  margin-top: 3vh;
}

@media (max-width: 767px) {
  .ims_grid_layout_grid_entity_reference_template {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 525px) {
  .ims_grid_layout_grid_entity_reference_template {
    grid-template-columns: 1fr;
  }
}

.ims_grid_layout_grid_items {
  padding: 1vh;
}

.ims_grid_layout_grid_items .ims_grid_layout_grid_items_heading {
  display: flex;
  align-items: center;
  height: 70px;
}

.ims_grid_layout_grid_items .ims_grid_layout_grid_items_heading h3 {
  margin-left: 1vh;
}

.ims_grid_layout_grid_items .ims_grid_layout_grid_items_heading img {
  width: 50px;
  height: 50px;
  margin: 1vh;
}

.ims_grid_layout_grid_items_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ims_grid_layout_grid_items_text p {
  margin-bottom: 1vh;
  height: 55px;
}

